* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
}

.app {
	background-color: #eef6f6;
}

.container {
	width: 100%;
	padding: 40px 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 1440px;
	min-width: 325px;
	margin: 0px auto;
}
